<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="iocBeanLifeService" class="Spring.BeanLife.code.IocBeanLifeService" init-method="initMethod"
          destroy-method="destroyMethod">
        <property name="name" value="测试"></property>
        <property name="sex" value="男性"></property>
    </bean>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
    <bean class="Spring.BeanLife.code.CustomerBeanPostProcessor"/>
</beans>
