<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.thymrleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<div th:if="${session.account != null}">
		<span th:text="'欢迎回来 '+${session.account.username}+'!  '">
		</span><a href="/logout">退出</a>
</div>

<a href="/main">main</a>
<span shiro:hasPermission="manage"> | <a href="/manage">manage</a></span>
<span shiro:hasRole="admin"> | <a href="/admin">admin</a></span>

<br>
<h1>index</h1>

</body>
</html>
